<div
    sf-field-model="sf-new-array"
    sf-new-array
    class="sprk-b-InputContainer schema-form-checkboxes {{::form.htmlClass + ' ' + idClass}}"
    ng-class="{
        'has-error': form.disableErrorState !== true &&  hasError(),
        'has-success': form.disableSuccessState !== true &&  hasSuccess(),
        'required': form.required === true
    }">
    <fieldset class="sprk-b-Fieldset">
        <legend class="sprk-b-Legend">
            <label
                class="sprk-b-Label {{::form.labelHtmlClass}}"
                sf-field-model   
                schema-validate="form"
                ng-show="showTitle()">{{form.title}}</label>
        </legend>
        <div class="sprk-b-SelectionContainer" ng-repeat="val in titleMapValues track by $index" >
            <label>
              <input type="checkbox"
                     ng-disabled="form.readonly"
                     sf-changed="form"
                     class="{{::form.fieldHtmlClass}}"
                     ng-model="titleMapValues[$index]"
                     name="{{::fieldId(true, false)}}" />
              <span class="sprk-b-Label--inline sprk-u-mls" ng-bind-html="form.titleMap[$index].name"></span>
            </label>
        </div>
    </fieldset>
    <div ng-class="{'sprk-b-HelperText': !hasError(), 'sprk-b-ErrorText': hasError()}"
         sf-message="form.description"></div>
</div>
