<div class="sprk-b-InputContainer schema-form-submit {{::form.htmlClass + ' ' + idClass}}">
  <input type="submit"
         class="sprk-c-Button {{ form.style || '' }} {{::form.fieldHtmlClass}}"
         value="{{form.title}}"
         ng-disabled="form.readonly"
         ng-if="form.type === 'submit'">
  <button class="sprk-c-Button {{ form.style || '' }}"
          type="button"
          ng-click="buttonClick($event,form)"
          ng-disabled="form.readonly"
          ng-if="form.type !== 'submit'">
      <span ng-if="form.icon" class="{{form.icon}}"></span>
      {{form.title}}
  </button>
</div>
