<div ng-init="selected = { tab: 0 }"
     ng-model="modelArray" schema-validate="form"
     sf-field-model="sf-new-array"
     sf-new-array
     class="sprk-c-Tabs {{::form.htmlClass + ' ' + idClass}}">
    <div sf-field-model class="sprk-c-Tabs__buttons" ui-sortable="form.sortOptions">
        <button role="tab" sf-field-model="ng-repeat"
                ng-repeat="item in $$value$$ track by $index"
                ng-click="$event.preventDefault() || (selected.tab = $index)"
                class="sprk-c-Tabs__button"
                ng-class="{'sprk-c-Tabs__button--active': selected.tab === $index}">
            {{interp(form.title,{'$index':$index, value: item}) || $index}}
        </button>
        <button role="tab"
                ng-hide="form.readonly || form.add === null"
                class="sprk-c-Tabs__button"
                ng-disabled="form.schema.maxItems <= modelArray.length"
                ng-click="$event.preventDefault() || (selected.tab = appendToArray().length - 1)">
            {{ form.add || 'Add'}}
        </button>
    </div>

    <div class="sprk-c-Tabs__content {{::form.fieldHtmlClass}}">
        <div class="tab{{selected.tab}} index{{$index}}"
             sf-field-model="ng-repeat"
             ng-repeat="item in $$value$$ track by $index"
             ng-show="selected.tab === $index"
             ng-class="{active: selected.tab === $index}">

            <div schema-form-array-items sf-key-controller sf-parent-key="[{{form.key.join('][')}}]"
                 sf-index="{{$index}}"></div>

            <button ng-hide="form.readonly || form.remove === null"
                    ng-click="selected.tab = deleteFromArray($index).length - 1"
                    ng-disabled="form.schema.minItems >= modelArray.length"
                    type="button"
                    class="sprk-c-Button {{ form.style.remove || 'sprk-c-Button--removal' }}">
                {{ form.remove || 'Remove'}}
            </button>
        </div>
        <div ng-class="{'sprk-b-HelperText': !hasError(), 'sprk-b-ErrorText': hasError()}"
             ng-show="(hasError() && errorMessage(schemaError())) || form.description"
             ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description">
        </div>
    </div>
</div>
